@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.slider{
    height: 60vh;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 20px;
}
h1.myHeadings {
    color: orangered;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;  /* Super bold */
    text-transform: uppercase;  /* Makes it all caps for a stronger impact */
    letter-spacing: 2px;  /* Adds spacing for a stylish look */
    padding: 10px 30px;
}

img.slider__img{
    width: 100%;
    object-fit: scale-down;
}
.card{
    border-radius: 7px;
    box-shadow: 5px 5px 10px whitesmoke;
    background:white;
    margin: 10px;
}
.padding--5{
    padding: 5;
}
.padding--0{
    padding:0;
}
.subscriptions, .plans, .about{
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    justify-content: center;
}

.subscriptions__card,.plans__card{
    flex-basis: calc((100%-250px)/3);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: none;
    cursor: pointer;
}
.subscriptions__card:hover{
   transform: scale(1.01)
}
.card__header{
    height: 100px;
    width: 100%;
    overflow: hidden;
}
.card__header__banner{
    height: 100%;
    width: 100%;
}
.subscriptions__card__body{
    padding: 15px;
    background: goldenrod;
}
.plans__card__body{
    padding: 15px;
    background: orangered;
    color: whitesmoke;
}
.card__plan{
    color: yellow;
    font-size: 2em;
    text-align: center;
}
#planDetailsList{
    font-size: xx-small;
}
.card__footer{
    background: #333;
    height: 30px;
    text-align: center;
}
.card__footer__btn{
    padding: 5px 10px;
    font-size: x-small;
}
.btn--goldenrod{
    background: goldenrod;
}
.btn--orangered{
    background: orangered;
}
#login{
    background: orangered;
    color: white;
    padding: 10px 20px;
    width: max-content;
    margin: 0 auto;
    border-radius: 10px 0;
}
.aboutUsText{
    padding: 10px 30px;
    font-family: fantasy;
    color: green;
}
@media screen and (max-width:760px) {
    .slider{
        height: max-content;
    }
    h1.myHeadings{
        text-align: center;
    }
    .subscriptions,.plans{
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: start;
    }
    .subscriptions__card, .plans__card{
        flex-basis: 80%;
        flex-grow: -100;
        flex-shrink: 0;
    }
    .card__header{
        height: 200px;
    }
}