@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.slider{
    height: 60vh;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 20px;
}
h1.myHeadings {
    color: orangered;
    font-weight: 900;  /* Super bold */
    text-transform: uppercase;  /* Makes it all caps for a stronger impact */
    letter-spacing: 2px;  /* Adds spacing for a stylish look */
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

img.slider__img{
    width: 100%;
    object-fit: scale-down;
}
.card{
    border-radius: 7px;
    box-shadow: 5px 5px 10px whitesmoke;
    background:white;
    margin: 10px;
}
.padding--5{
    padding: 5;
}
.padding--0{
    padding:0;
}
.padding--10{
    padding: 10px;
}
.subscriptions, .plans, .about, #plansContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.card--transparent{
    background: transparent;
    box-shadow: none;
}

.subscriptions__card,.plans__card{
    /* flex-basis: calc((100%-250px)/3); */
    flex-basis: 30%;
    flex-grow: -10;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: none;
    cursor: pointer;
}
.card--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dashboard__card{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    color: white;
    cursor: pointer;
}
.dashboard__card:hover{
    scale: 1.03;
}
.subscriptions__card:hover{
   transform: scale(1.01)
}
.card__header{
    height: 150px;
    width: 100%;
    overflow: hidden;
}
.card__header__banner{
    height: 100%;
    width: 100%;
}
.subscriptions__card__body{
    padding: 5px 15px;
    background: goldenrod;
}
.plans__card__body{
    padding: 5px 15px;
    background: white;
    color: gainsboro;
}
.card__plan{
    color: orangered;
    font-size: 2em;
    text-align: center;
}
#planDetailsList{
    font-size: xx-small;
}
.card__footer{
    background: orangered;
    height: 30px;
    text-align: center;
}
.card__footer__btn{
    padding: 5px 10px;
    font-size: x-small;
}
.btn--goldenrod{
    background: goldenrod;
}
.btn--white{
    background: white;
    color: orangered;
}
.btn--dlt{
    background: red;
  }
  .btn--update{
    background: green;
  }
  .btn--freeze{
    background: blue;
  }
#login{
    background: orangered;
    color: white;
    padding: 5px 0;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
.aboutUsText{
    padding: 10px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
}
.studentsCard, .teachersCard{
    display: flex;
    gap: 30px;
    justify-content: start;
    align-items: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 10px 0;
    width: 43%;
}
.studentsCard li, .teachersCard li{
    list-style: none;
    font-size: x-small;
}
.studentsCard__pic, .teachersCard__pic{
    width: 70px;
    height: 70px;
    border-radius:50%;
    overflow: hidden;
}
.studentsCard__pic img, .teachersCard__pic img{
    width: 100%;
    height: 100%;
}
.footer{
    padding: 20px;
    background: #555;
    color: orangered;
    text-align: center;
}
.cover{
    height: 100vh;
    width: 100vw;
    background: orangered;
    position: fixed;
    padding: 0;
    z-index: 1000;
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.subsBox{
    background: white;
     padding:30px; 
    border-radius:10px;
     text-align:center;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}
.message--card{
    justify-content: start;
    gap: 20px;

}
.message__profilePic{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: grey;
    border: 2px solid white;
}
@media screen and (max-width:760px) {
    .slider{
        height: max-content;
    }
    h1.myHeadings{
        text-align: center;
    }
    .subscriptions,.plans, #plansContainer {
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: start;
    }
    .subscriptions__card, .plans__card{
        flex-basis: 60%;
        flex-grow: -10;
        flex-shrink: 0;
    }

    .studentsCard, .teachersCard{
        width: 95%;
        margin: 5px auto;
    }
    .dashboard__card{
        flex-basis: 20%;
        text-align: center;
    }
}



